.root {
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.48);
  margin-bottom: 16px;
  padding-left: 16px;

  &.fullWidth {
    width: 100%;
  }
}